<!doctype html>
<html lang="en">
<%- partial("_partials/head.ejs") %>
<body>
    <%- partial("_partials/nav.ejs") %>
    <div id="page-content">
        <%- body %>
    </div>
    <%- partial("_partials/scripts.ejs") %>
</body>
</html>