<p></p>
<div id="quick-links">
    <button class="btn" onclick="showPostMeta()">Post info <i class="fas fa-info"></i></button>
    <!--<button class="btn" onclick="goToComments()">Comments <i class="fas fa-comments"></i></button>-->
    <button class="btn" onclick="goToShare()">Share <i class="fas fa-share"></i></button>
</div>