<div id="share">
    <h2 class="header">Share</h2>
    <a class="share-btn" href="#copy" onclick="copyUrlToClipboard()">Copy link to clipboard <i class="fas fa-copy"></i></a>
    <span id="copied-status"></span>

    <a id="twitter-share-btn" class="twitter-share-button share-btn" target="_blank" rel="noopener noreferrer" href="https://twitter.com/intent/tweet?text=Check out this article on ben.bike! ">Twitter <i class="fab fa-twitter"></i></a>
</div>